
# psql defaults
export PGDATABASE=postgres
export PGHOST=127.0.0.1
export PGPORT=5432

export PGUSER=postgres
export PGPASSWORD=pg

# Homebrew/Mac/Intel
export PATH="/usr/local/opt/postgresql@17/bin:${PATH}"
