
# psql defaults
export PGDATABASE=postgres
export PGHOST=127.0.0.1
export PGPORT=5432

export PGUSER=postgres
export PGPASSWORD=pg

# Homebrew/Mac/Intel
export PATH="/usr/local/opt/postgresql@17/bin:${PATH}"
export PATH="/opt/homebrew/opt/postgresql@17/bin:${PATH}"

# docker compose
export COMPOSE_PROJECT_NAME=pg

# asciinema
# export PS1='\u:\w\n\$ '

